
<body>
        <div>
            <ul>
                <li><a href="#">enlace</a></li>
                <li><a href="#">enlace</a></li>
                <li><a href="#">enlace</a></li>
                <li><a href="#">enlace</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="#">enlace</a></li>
                <li><a href="#">enlace</a></li>
                <li><a href="#">enlace</a></li>
                <li><a href="#">enlace</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="#">enlace</a></li>
                <li><a href="#">enlace</a></li>
                <li><a href="#">enlace</a></li>
                <li><a href="#">enlace</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="#">enlace</a></li>
                <li><a href="#">enlace</a></li>
                <li><a href="#">enlace</a></li>
                <li><a href="#">enlace</a></li>
            </ul>
        </div>
    
</body>
