@import url("./variables.css");

#header{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    background-color: rgb(221, 98, 10);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header h1{
    margin: 0;
    padding: 0;
}
#header div img{
    padding-left: 10px;
    width: 100px;
}

.bloque a div{
    margin-left: 10px;
    margin-top: 10px;
    background-image: var(--url-logo);
    background-size: cover;
    background-repeat: no-repeat;

    width: 130px;
    height: 50px;
}

.bloque a{
    text-decoration: none;
    color: antiquewhite;
    padding-right: 30px;
}